<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/seal.png') }}" alt="Logo">
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/review">Reseña</a></li>
                <li><a href="/csv">Cargar Reseñas</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Bienvenidos a la plataforma de evaluación de calidad hotelera - PECH</h2>
        <!-- Contenido de la página principal -->
        <div class="image-container">
            <img src="{{ url_for('static', filename='img/hotel1.jpg') }}" alt="Hotel 1">
            <img src="{{ url_for('static', filename='img/hotel2.jpg') }}" alt="Hotel 2">
            <img src="{{ url_for('static', filename='img/hotel3.jpg') }}" alt="Hotel 3">
        </div>
        <h3>Esta plataforma tiene el propósito de evaluar los resultados obtenidos de su investigación sectorial en la nación colombiana por medio del análisis predictivo de reseñas individuales y en masa.</h3>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
